@import './_var.scss';
@import './_mixin.scss';

@font-face {
    font-family: NotoSansCJK;
    src: url("../font/NotoSansCJKtc-Regular.otf");
  }
  
/* common ___________________________________________________*/
* {
    box-sizing: border-box;
    // font-family: 'Noto Sans TC', sans-serif;
    font-family: NotoSansCJK;
}
body{
    margin: 0;
    background-color: map-get($color, 'g-l');
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
.header, .main, .footer{
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* header ___________________________________________________*/
#headerApp{
    @include position-t-l(fixed);
    width: 100%;
    background-color: map-get($color, 'm');
    // @include border;
    .header{
        width: 100%;
        height: 60px;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 15px;
        letter-spacing: 4px;
        @include flex-j-ai (space-between, center);
        @include s{
            height: 30px;
        }
        .left{
            display: flex;
            align-items: center;
            .logo{
                width: 100px;
                height: 25px;
                cursor: pointer;
                @include s{
                    width: 60px;
                    height: 15px;
                }
            }
            .title{
                font-size: 16px;
                line-height: 24px;
                margin-left: 17px;
                padding-left: 17px;
                border-left: 1px solid map-get($color, 'd');
                color: map-get($color, 'd');
                @include s{
                    display: none;
                }
            }
        }
        .menu{
            li{
                display: inline-block;
                vertical-align: middle;
                margin: 18px 0 18px 30px;
                // color: map-get($color, 's');
                color: #51A8BC;
                font-size: 16px;
                cursor: pointer;
            }
            .disable{
                color: #E2E1DD;
                cursor: default;
            }
            @include s{
                display: none;
            }
        }
    }
}

#mainApp{
    // max-width: 1920px;
    margin: 0 auto;
    .main{
        margin-top: 60px;
        min-height: calc(100vh - 60px);
        @include s{
            margin-top: 30px;
            min-height: calc(100vh - 30px);
        }
    }
    .hasfooter{
        min-height: calc(100vh - 160px);
        @include s{
            min-height: calc(100vh - 130px);
        }
    }
}

footer{
    @include position-b-l(fixed);
    height: 100px;
    width: 100%;
    background-color: map-get($color, 'm');
    @include s(){
        height: 115px;
    };
    .footer{
        height: 100%;
        @include flex-ai(center);
        padding: 0 15px;
        @include s(){
            flex-wrap: wrap;
        };
        .progress{
            width: 50%;
            @include s(){
                width: 100%;
                padding: 10px 35px 15px;
            };
            .top, .bottom{
                width: 436px;
                @include l (){
                    width: 269px;
                }
                @include s(){
                    width: 100%;
                };
            }
            .top{
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                .text{
                    font-size: 16px;
                    line-height: 24px;
                    color: map-get($color, 'g-d');
                    @include l (){
                        font-size: 14px;
                        line-height: 21px;
                    }
                    @include s(){
                        font-size: 12px;
                        line-height: 15px;
                    };
                }
                .active{
                    color: map-get($color, 'p');
                }
                .used{
                    color: map-get($color, 's');
                }
            }
            .bottom{
                position: relative;
                padding: 0 26px;
                display: flex;
                justify-content: space-between;
                .circle{
                    background-color: map-get($color, 'w');
                    border: 3px solid map-get($color, 'w');
                    box-shadow: 0px 4px 4px #EEEDE8;
                    border-radius: 50%;
                    @include rectangle(22px);
                    position: relative;
                    z-index: 1;
                }
                .circle.active{
                    background-color: map-get($color, 'p');
                }
                .circle.used{
                    background-color: map-get($color, 's');
                }
                .line{
                    width: calc(50% - 26px);
                    height: 9px;
                    border: 3px solid map-get($color, 'w');
                    background-color: map-get($color, 'w');
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    box-shadow: 0px 4px 4px #EEEDE8;
                }
                .line.active{
                    background-color: map-get($color, 'p');
                }
                .line.used{
                    background-color: map-get($color, 's');
                }
                .line1{
                    left: 26px;
                    @include l (){
                        left: 24px;
                    }
                }
                .line2{
                    left: 50%;
                }
            }
        }
        .btns{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            @include s(){
                width: 100%;
                border-top: 1px solid map-get($color, 'g-m');
                padding: 8px 0 10px;
            };
            .footer-btn-light{
                background-color: map-get($color, 'w');
                color: map-get($color, 's');
            }
            .footer-btn-dark{
                background-color: map-get($color, 's');
                color: map-get($color, 'w');
            }
            .footer-btn-disable{
                background-color: map-get($color, 'g-m');
                color: map-get($color, 'w');
            }
        }
    }
}

.pop-bg{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    .pop-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        max-width: 850px;
        min-height: 300px;
        padding: 20px 30px;
        border-radius: 35px;
        background-color: #fff;
        color: map-get($color, 'g-d');
        .pop-main{
            width: 100%;
            min-height: 200px;
            // @include border(green);
        }
        .pop-bottom{
            // @include border;
            @include flex-ai(center);
            margin-top: 20px;
            .left{
                width: calc(100% - 390px);
                color: map-get($color, 's');
            }
            .right{
                width: 390px;
                display: flex;
            }
        }
    }
}
.main-btn{
    font-size: 20px;
    line-height: 60px;
    border-radius: 35px;
    box-shadow: 0px 4px 4px #EEEDE8;
    margin-left: 15px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    @include l {
        font-size: 16px;
        line-height: 50px;
        margin-left: 13px;
        width: 130px;
    }
    @include s {
        font-size: 12px;
        line-height: 30px;
        margin-left: 8px;
        width: 80px;
    }
}
.main-btn-light{
    background-color: map-get($color, 'm');
    color: map-get($color, 's');
}
.main-btn-dark{
    background-color: map-get($color, 's');
    color: map-get($color, 'w');

}


// #pop-sign{
//     .pop-content{

//         .pop-main{

//         }
//         .pop-bottom{

//             .left{

                
//             }
//             .right{
                
//             }
//         }
//     }
// }
