@import './_var.scss';
@import './_mixin.scss';

* {
    box-sizing: border-box;
}
#mainApp{
    background-color: map-get($color, 'g-m');
    .main{
        padding: 30px 15px;
        height: calc(100vh - 160px);
        .block{
            background-color: map-get($color, 'm');
            border-radius: 35px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            .tab{
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 5px;
                height: 50px;
                padding: 15px;
                width: 50%;
                text-align: center;
                color: map-get($color, 's');
                border-top-left-radius: 35px;
                border-top-right-radius: 35px;
            }
            .tab.active{
                color: map-get($color, 'p');
                background-color: map-get($color, 'w');
            }
            .tab-left.active{
                box-shadow: 8px 4px 4px rgba(238, 237, 232, 0.5);
            }
            .tab-right.active{
                box-shadow: -8px 4px 4px rgba(238, 237, 232, 0.5);
            }
            .canvas{
                width: 100%;
                height: 100%;
                background-color: map-get($color, 'w');
            }
        }
    }
}