@import './_var.scss';
@import './_mixin.scss';

* {
    box-sizing: border-box;
}
#mainApp{
    background-color: map-get($color, 'g-m');
    .main{
        padding: 30px 15px;
        height: calc(100vh - 160px);
        @include m {
            padding: 15px;
        }
        @include s {
            padding: 10px;
            height: calc(100vh - 145px);
            padding-bottom: 25px;
        }
        .page1-block{
            background-color: map-get($color, 'm');
            border-radius: 35px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            .tab{
                letter-spacing: 5px;
                font-size: 20px;
                line-height: 30px;
                padding: 15px;
                height: 60px;
                width: 50%;
                text-align: center;
                color: map-get($color, 's');
                border-top-left-radius: 35px;
                border-top-right-radius: 35px;
                cursor: pointer;
                @include m {
                    letter-spacing: 4px;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 18px;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }
                @include s {
                    letter-spacing: 3px;
                    font-size: 12px;
                    line-height: 12px;
                    padding: 9px;
                    height: 30px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
            .tab.active{
                color: map-get($color, 'p');
                background-color: map-get($color, 'w');
            }
            .tab-left.active{
                box-shadow: 8px 4px 4px rgba(238, 237, 232, 0.5);
            }
            .tab-right.active{
                box-shadow: -8px 4px 4px rgba(238, 237, 232, 0.5);
            }
            .upload, .files, .no-file{
                width: 100%;
                height: 100%;
                background-color: map-get($color, 'w');
                color: map-get($color, 'g-d');
                height: calc(100% - 60px);
                @include s {
                    height: calc(100% - 30px);
                }
            }
            .upload{
                padding: 50px;
                @include s {
                    padding: 10px;
                }
                .drop-zone{
                    @include rectangle(100%);
                    @include flex-j-ac(center, center);
                    flex-wrap: wrap;
                    border: 1px dashed map-get($color, 'g-d');
                    border-radius: 35px;
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: 6px;
                    cursor: pointer;
                    transition: .3s all ease;
                    @include m{
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @include s {
                        font-size: 12px;
                        line-height: 16px;
                    }
                    &:hover{
                        background-color: map-get($color, 'm');
                    }
                    input{
                        display: none;
                    }
                    .text{
                        display: inline-block;
                    }
                    .icon-pdf{
                        width: 100%;
                        height: 144px;
                        margin: 40px 0;
                        pointer-events: none;
                        @include m{
                            margin: 20px 0;
                        }
                        @include s{
                            height: 100px;
                            margin: 14px 0;
                        }
                    }
                }
            }
            .no-file{
                @include flex-j-ai(center, center);
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 6px;
                @include m{
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 4px;
                }
                @include s {
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 3px;
                }
            }
            .files{
                display: flex;
                align-content: flex-start;
                flex-wrap: wrap;
                padding: 50px 33px;
                position: relative;
                @include m{
                    padding: 30px;
                }
                @include s{
                    padding: 10px;
                }
                .clear-list{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    background-color: map-get($color, 'm');
                    font-size: 14px;
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                .search{
                    width: 100%;
                    height: 60px;
                    border: 1px solid map-get($color, 'g-d');
                    border-radius: 30px;
                    position: relative;
                    @include m{
                        height: 50px;
                    }
                    @include s{
                        height: 25px;
                    }

                    input[name="search"]{
                        font-size: 20px;
                        line-height: 24px;
                        height: 100%;
                        width: calc(100% - 45px);
                        outline: none;
                        border: none;
                        background-color: transparent;
                        padding: 18px 30px;
                        display: block;
                        // --清除Google叉叉
                        &::-webkit-search-cancel-button{
                            display: none;
                        }
                         // --清除IE叉叉
                        &::-ms-clear{
                            display: none;
                        }
                        @include m{
                            font-size: 16px;
                            line-height: 20px;
                            padding: 15px 25px;
                            width: calc(100% - 36px);
                        }    
                        @include s{
                            font-size: 12px;
                            line-height: 13px;
                            padding: 6px 10px;
                            width: calc(100% - 25px);
                        }    
                    }
                    ::placeholder { /* CSS 3 標準 */
                        color:#D9D9D9;
                    }
                    ::-webkit-input-placeholder { /* Chrome, Safari */
                        color:#D9D9D9;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        color:#D9D9D9;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        color:#D9D9D9;
                        opacity: 1;
                    }                      
                    .icon-search{
                        @include rectangle(30px);
                        @include position-t-r(absolute, 50%, 15px);
                        transform: translateY(-50%);
                        cursor: pointer;
                        @include m{
                            @include rectangle(22px);
                        }
                        @include s{
                            right: 10px;
                            @include rectangle(9px);
                        }
                    }
                }
                .text{
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 4px;
                    margin: 30px 0 25px;
                    @include m{
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 3.5px;
                        margin: 15px 0;
                    }
                    @include s{
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 3px;
                        margin: 5px 0;
                    }
                }
                .text-name{
                    width: 50%;
                    padding-left: 30px;
                    @include m{
                        padding-left: 25px;
                    }
                    @include s{
                        padding-left: 10px;
                    }
                }
                .text-upload-time{
                    width: 25%;
                    @include s{
                        width: 50%;
                    }
                }
                .text-open-time{
                    width: 25%;
                    @include s{
                        display: none;
                    }
                }
                .row{
                    width: 100%;
                    display: flex;
                    border-radius: 30px;
                    font-size: 20px;
                    line-height: 60px;
                    cursor: pointer;
                    transition: .3s all ease;
                    &:hover{
                        background-color: map-get($color, 'g-l');
                    }
                    @include l{
                        font-size: 16px;
                    }
                    @include m{
                        font-size: 14px;
                        line-height: 50px;
                    }
                    @include s{
                        font-size: 12px;
                        line-height: 25px;
                        border-radius: 12px;
                    }
                    .name{
                        width: 50%;
                        padding-left: 30px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include m{
                            padding-left: 25px;
                        }
                        @include s{
                            padding-left: 10px;
                        }
                    }
                    .upload-time{
                        width: 25%;
                        @include s{
                            width: 50%;
                        }
                    }
                    .open-time{
                        width: 25%;
                        @include s{
                            display: none;
                        }
                    }
                }
                .row.active{
                    background-color: map-get($color, 'm');
                    &:hover{
                        background-color: map-get($color, 'm');
                    }
                }
            }

            
        }
    }
    .page2{
        width: 100%;
        max-width: 1920px;
        @include flex-j(flex-end);
        padding: 0;
        position: relative;
        .aside{
            background-color: map-get($color, 'w');
            @include rectangle(400px, 100%);
            // @include border;
            position: absolute;
            left: 0;
            top: 0;
            overflow: auto;
            @include xxl{
                width: 360px;
            }
            @include l{
                width: 280px;
            }
            @include m{
                @include rectangle(100%, auto);
                background-color: transparent;
                z-index: 1;
            }
            .aside-group{
                padding: 25px 36px;
                font-size: 16px;
                line-height: 24px;
                color: map-get($color, 'g-d');
                @include m{
                    width: 100%;
                    position: fixed;
                    background-color: map-get($color, 'w');
                    padding: 0;
                }
                .title{
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                img{
                    width: 20px;
                    display: block;
                    object-fit: contain;
                    @include m {
                        width: 15px;
                    }
                }
                .document-name{
                    @include flex-ac(center);
                    @include m {
                        @include flex-ai(center);
                        margin: 0px 35px;
                        line-height: 50px;
                    }
                    @include s {
                        margin: 0px 20px;
                        line-height: 30px;
                        font-size: 12px;
                    }
                    span{
                        display: inline-block;
                        max-width: calc(100% - 35px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    img{
                        margin-left: 15px;
                        cursor: pointer;
                    }
                }
                .block{
                    margin-bottom: 15px;
                    width: 100%;
                    height: 60px;
                    border: 1px dashed map-get($color, 'g-d');
                    cursor: pointer;
                    @include flex-j-ai(center, center);
                    @include m{
                        width: 328px;
                        margin: 15px auto;
                    }
                    @include s{
                        width: 250px;
                        height: 30px;
                        font-size: 12px;
                        line-height: 30px;
                    }
                    img{
                        margin-left: 12px;
                    }
                }
                .sign-block{
                    // cursor: default;
                    .img-sign{
                        margin-left: 0px;
                        width: calc(100% - 72px);
                        height: 100%;
                    }
                    .icon-delete{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }
            .aside-group-top{
                @include m{
                    top: 60px;
                    left: 0;
                }
                @include s{
                    top: 30px;
                    left: 0;
                }
                .title{
                    @include m{
                        display: none;
                    }
                }
            }
            .aside-group-bottom{
                @include m{
                    bottom: 100px;
                    left: 0;
                }
                @include s{
                    bottom: 115px;
                    left: 0;
                }
                .title{
                    @include m{
                        @include flex-j-ai(center, center);
                        color: map-get($color, 's');
                        margin: 0;
                        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
                        height: 50px;
                    }
                    @include s{
                        font-size: 14px;
                        height: 40px;
                        padding: 10px 0;
                    }
                    .icon-arrow{
                        display: none;
                        transition: 0.3s all ease;
                        @include m{
                            display: block;
                            margin-left: 15px;
                            width: 14px;
                        }
                    }
                    .rotate{
                        transform: rotate(180deg);
                    }
                }
                .block{
                    transition: 0.5s all ease;
                }
                .hidden{
                    height: 0;
                    overflow: hidden;
                    margin: 0 auto;
                    border: 0;
                }
            }
        }
        .view{
            // @include border(rgb(33, 82, 33));
            width: calc(100% - 400px);
            height: 100%;
            padding: 30px 0;
            overflow: auto;
            position: relative;
            @include xxl{
                width: calc(100% - 360px);
            }
            @include l{
                width: calc(100% - 280px);
            }
            @include m{
                width: 100%;
                padding: 70px 0 20px;
                height: calc(100% - 50px);
            }
            @include s{
                padding: 50px 0 20px;
                height: calc(100% - 55px);
            }
            .canvas{
                width: 77%;
                margin: 0 auto;
                // border: 1px solid red;
                position: relative;
                @include xxl{
                    width: calc(100% - 50px);
                    margin: 0 25px;
                    // padding: 0 30px;
                }
                @include l{
                    // padding: 0 20px;
                }
                @include m{
                    // padding: 50px 35px 0px;
                }
                @include s{
                    // padding: 0 10px;
                }
                .canvas-img{
                    position: absolute;
                    top: 48.5px;
                    left: 95px;
                    transform: translate(-50%,-50%);
                    width: 150px;
                    height: 57.7px;
                    border: 1px solid #A5A39C;
                    background-color: #bde8f934;
                    cursor: pointer;
                    &:hover{
                        background-color: #f9bde934;
                    }
                    img{
                        @include rectangle(100%);
                        object-fit: contain;
                    }
                    .icon-delete{
                        @include rectangle(20px);
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(-95%,-95%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .page3{
        height: auto;
        padding-bottom: 130px;
        img{
            display: block;
            width: 85%;
            max-width: 1170px;
            margin: 0 auto;
            object-position: 0 0;
            @include xl{
                width: 90%;
            }
            @include m{
                width: 100%;
            }
        }
    }

}

#pop-sign{
    z-index: 2;
    .pop-content{
        width: 850px;
        @include xl{
            width: 760px;
        }
        @include l{
            width: 710px;
        }
        @include m{
            width: 70%;
            min-width: 540px;
        }
        @include s{
            width: 90%;
            min-width: 410px;
        }
        .pop-main{
            .title{
                text-align: center;
                font-size: 20px;
                line-height: 30px;
                margin: 10px 0 30px 0;
            }
            .sign-canvas{
                border: 1px dashed map-get($color, 'g-d');
                // min-height: 361px;
                // width: 100%;
                // height: 360px;
                @include s{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .pop-bottom{
            .left{
                width: calc(100% - 390px);
                @include l{
                    width: calc(100% - 286px);
                }
                @include s{
                    width: calc(100% - 176px);
                }
            }
            .right{
                width: 390px;
                @include l{
                    width: 286px;
                }
                @include s{
                    width: 176px;
                }
            }
            
            .left{
                @include flex-ai(center);
                >span{
                    margin-right: 30px;
                }
                .colors{
                    display: flex;
                    .color{
                        width: 35px;
                        height: 35px;
                        margin-right: 25px;
                        background-color: #000;
                        border: 3px solid #fff;
                        border-radius: 50%;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        @include m{
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                        }
                        @include s{
                            width: 20px;
                            height: 20px;
                            margin-right: 12px;
                        }
                    }
                    .color-blue{
                        background-color: blue;
                    }
                    .color-red{
                        background-color: red;
                    }
                }
                
            }
            .right{
                
            }
        }
    }
}