<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F2E - 點點簽 - 簽署新文件</title>
    <link rel="stylesheet" href="./css/main.css"> 
    <link rel="stylesheet" href="./css/signing.css"> 
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">  -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet"> -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src='./js/main.js' ></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.6.416/pdf.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>


</head>
<body>
    <header id="headerApp">
        <div class="header">
            <div class="left">
                <div class="logo" @click="open('./index.html')">
                    <img src="./img/logo_s.png">
                </div>
                <div v-if="title != ''" class="title">{{ title }}</div>
            </div>
            <ul class="menu">
                <li v-for="(item, i) in menu" :class="{'disable': item[1] == 'disable'}" @click="open(item[2])">{{ item[0] }}</li>
            </ul>
        </div>
    </header>

    <main id="mainApp">
        <div v-if="page == 1" class="main hasfooter">
            <div class="page1-block">
                <div class="tab tab-left" :class="{'active':tab == 1}" @click="tab = 1">上傳新文件</div>
                <div class="tab tab-right" :class="{'active':tab == 2}" @click="tab = 2">選擇已上傳文件</div>
                <div v-if="tab == 1" class="upload" @dragover.stop.prevent="dragoverFile($event)" @drop.stop.prevent="dropFile($event)">
                    <label class="drop-zone" for="inputFile">
                        <input type="file" accept=".pdf" id="inputFile" style="display: none;" @change="uploadFile($event)">
                        <span class="text">點擊此處上傳 或 直接拖曳檔案</span>
                        <img src="./img/icon_document_pdf.png" class="icon-pdf">
                        <span class="text">(限10MB以下PDF檔)</span>
                    </label>
                </div>
                <div v-if="tab == 2 && files == false" class="no-file">尚未上傳任何文件!</div>
                <div v-if="tab == 2 && files != false" class="files">
                    <div class="search">
                        <input type="search" name="search" placeholder="搜尋文件名稱">
                        <img src="./img/icon_search.svg" class="icon-search">
                    </div>
                    <div class="text text-name">名稱</div>
                    <div class="text text-upload-time">上傳時間</div>
                    <div class="text text-open-time">上次開啟</div>
                    <div class="row" v-for="(file,i) in files" :class="{'active': i+1 == fileIndex}" @click="choosefile(i+1)">
                        <div class="info name">{{file.name}}</div>
                        <div class="info upload-time">{{file.uploadtime}}</div>
                        <div class="info open-time">{{file.opentime}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="page == 2" class="main page2 hasfooter">
            <div class="aside">
                <div class="aside-group aside-group-top">
                    <div class="title">文件名稱</div>
                    <div class="document-name"><span>{{choose.name}}</span><img src="./img/icon_pen.svg"></div>
                </div>
                <div class="aside-group aside-group-bottom">
                    <div class="title" @click="asideM">我的簽名<img src="./img/icon-arrow-blue.svg" class="icon-arrow" :class="{'rotate': aside == 'display'}"></div>
                    <template v-if="signArr.length != 0">
                        <div class="block sign-block" 
                             :class="{'hidden': (aside == 'hidden' && windowWidth < 767)}"
                             v-for="(item, i) in signArr" 
                             @click="clickSign(i, item)">
                            <img :src="item" class="img-sign">
                            <img src="./img/icon-close-delete.png" class="icon-delete" @click.stop="deleteSign(i)">
                        </div>
                    </template>

                    <div class="block" :class="{'hidden': aside == 'hidden' && windowWidth < 767}" @click="popSign = true">創建簽名<img src="./img/icon-pen2.svg"></div>
                    <!-- <div class="block">上傳圖片<img src="./img/icon-img.svg"></div> -->
                    <!-- <div class="block" @click="createFile">Save Canvas</div> -->
                </div>
            </div>
            <div class="view">
                <div class="canvas" id="canvas" @mousemove="mousemoveFile($event)" @mouseup="mouseupFile($event)">
                    <div v-show="showBox" 
                        class="canvas-img" 
                        @click="clickImg" 
                        @mousedown.native="mousedownImg($event)" 
                        @mouseup.native="mouseupImg($event)" 
                        :style="{top: imgTop, left: imgLeft, border: status == '放開'? '1px solid #A5A39C':'1.5px solid red'}">
                        <img :src="chooseImg[1]">
                        <img src="./img/icon-close-delete.png" class="icon-delete" @click.stop="deleteCanvasSign">
                    </div>
                </div>
            </div>
        </div>
        <div v-if="page == 3" class="main page3 hasfooter">
            <img :src="createImgSrc">   
        </div>
        <div v-show="popSign" class="pop-bg" id="pop-sign">
            <div class="pop-content">
                <div class="pop-main">
                    <div class="title">在框格內簽下大名!</div>
                    <canvas :width="canvasSignWidth"
                            :height="canvasSignHeight"
                            class="sign-canvas" 
                            id="signCanvas"
                            ref="signCanvas" 
                            @mousedown="mousedownSign($event)" 
                            @mouseup="mouseupSign($event)">
                    </canvas>
                </div>
                <div class="pop-bottom">
                    <div class="left">
                        <span @click="clearSign">清除</span>
                        <div class="colors">
                            <div class="color" @click="signColor = 'black'"></div>
                            <div class="color color-blue" @click="signColor = 'blue'"></div>
                            <div class="color color-red" @click="signColor = 'red'"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="main-btn main-btn-light" @click="cancelSign">取消</div>
                        <div class="main-btn main-btn-dark" @click="saveSign">簽好了</div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer">
                <div class="progress">
                    <div class="top">
                        <div class="text" :class="{'active': page == 1, 'used': page >= 2}">上傳文件</div>
                        <div class="text" :class="{'active': page == 2, 'used': page == 3}">進行簽署</div>
                        <div class="text" :class="{'active': page == 3}">下載文件</div>
                    </div>
                    <div class="bottom">
                        <div class="circle" v-for="n in 3" :class="{'active': n == page, 'used': page >= n+1}"></div>
                        <div class="line line1" :class="{'used': page >= 2}"></div>
                        <div class="line line2" :class="{'used': page == 3}"></div>
                    </div>
                </div>
                <div class="btns">
                    <div class="main-btn footer-btn-light" v-show="page == 3" @click="goIndex">回首頁</div>
                    <div class="main-btn footer-btn-light" @click="clickFooterBtn('btn1')">{{btn1}}</div>
                    <div class="main-btn footer-btn-dark" @click="clickFooterBtn('btn2')">{{btn2}}</div> 
                </div>
            </div>
        </footer>
    </main>

    <script>
        // -----------------------------------------------------
        const mainApp = Vue.createApp({
            data(){
                return{ 
                    page: 1,
                    tab: 1,
                    fileIndex: '',
                    files: [],
                    // files:[['.19898989898989899898989823.pdf','2022/10/31，23:45','---'],['.456.pdf','2022/10/31，23:45','2022/10/31，23:55']],
                    choose: {},
                    chooseImg: [],
                    canvas: '',
                    signCanvas: '',
                    signCanvasGetContext: '',
                    signColor: 'black',
                    popSign: false,
                    signArr: [],
                    imgLeft: 95,
                    imgTop: 48.5,
                    status: '放開',
                    fileHref: '#',
                    createImgSrc: '#',
                    showBox: false,
                    pageNum: 1,
                    btn1: '取消',
                    btn2: '開啟文件',
                    aside:'hidden',
                    canvasSignWidth: 780,
                    canvasSignHeight: 300,
                    windowWidth: 0,
                    
                }
            },
            methods:{
                asideM(){
                    if(this.aside == "display"){
                        this.aside = "hidden";
                    }else{
                        this.aside = "display";
                    }
                },
                uploadFile(e){
                    console.log(e.srcElement.files);
                    this.pushList(e.srcElement.files);

                },
                goIndex(){
                    window.location.href = "./index.html";
                },
                clickFooterBtn(btn){
                    if(btn == 'btn1'){
                        if(this.page == 1){
                            window.location.href = "./index.html";
                        }else if(this.page == 2){
                            this.page = 1;
                            this.btn2 = "開啟文件";
                            this.showBox = false;
                            this.status = '放開';
                            this.imgLeft = '95px';
                            this.imgTop = '48.5px';
                        }else if(this.page == 3){
                            this.page = 2;
                            this.btn2 = "創建文件";
                            this.createPDF();
                        }
                    }
                    if(btn == 'btn2'){
                        if(this.page == 1){
                            if(this.fileIndex !== ""){
                                this.createPDF();
                                this.page = 2;
                                this.btn2 = "創建文件";
                            }else{
                                alert("請選擇文件")
                            }
                        }else if(this.page == 2){
                            this.createFile();
                        }else if(this.page == 3){
                            this.downloadFile();
                        }
                    }
                },
                createPDF(){
                    let self = this;
                    PDFJS.getDocument(this.choose.base64).then(function(pdf) {
                        pdf.getPage(self.pageNum).then(function(page) { // you can now use *page* here
                            let scale = 1.4;
                            let viewport = page.getViewport(scale); // getViewport(scale) scale: 0~1之間 (1: 100%顯示)
                            // 產生canvas
                            let canvas = document.createElement('canvas');
                            let context = canvas.getContext('2d');
                            canvas.id = `canvasFile${self.pageNum-1}`;
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;
                            // console.log(viewport)
                            let renderContext = {
                                canvasContext: context,
                                viewport: viewport
                            };
                            // page.render(): 將PDF內容產生到canvas上
                            page.render(renderContext);
                            
                            document.getElementById('canvas').appendChild(canvas);
                        });
                    })
                },
                choosefile(index){
                    this.fileIndex = index;
                    this.choose = this.files[index-1];
                    // let self = this;
                    // PDFJS.getDocument(this.choose.base64).then(function(pdf) {
                        // pdf.numPages: 取得總頁數
                        // pdf.getPage(pageNum): 取得每一個PDF頁面
                        // for (let pageNum = 1; pageNum < pdf.numPages; ++pageNum) {
                        //     pdf.getPage(pageNum).then(function(page) { // you can now use *page* here

                        //         let scale = 1.2;
                        //         let viewport = page.getViewport(scale); // getViewport(scale) scale: 0~1之間 (1: 100%顯示)


                        //         // 產生canvas
                        //         let canvas = document.createElement('canvas');
                        //         let context = canvas.getContext('2d');
                        //         canvas.id = `canvasFile${pageNum-1}`;
                        //         canvas.height = viewport.height;
                        //         canvas.width = viewport.width;
                        //         // console.log(viewport)

                        //         let renderContext = {
                        //             canvasContext: context,
                        //             viewport: viewport
                        //         };

                        //         // page.render(): 將PDF內容產生到canvas上
                        //         page.render(renderContext);

                        //         document.getElementById('canvas').appendChild(canvas);
                        //     });
                        // }
                    // })
                },
                clickSign(index, src){
                    this.chooseImg = [index,src];
                    console.log('chooseImg----',this.chooseImg);
                    this.showBox = true;
                },
                dragoverFile(e){
                    // console.log('dragoverFile-------',e);
                },
                dropFile(e){
                    let self = this;
                    // console.log('dropFile------',e);
                    let files = e.dataTransfer.files; //由DataTransfer物件的files屬性取得檔案物件
                    // console.log('e.dataTransfer.files------',files);
                    
                    if(files.length >1){
                        alert('一次僅能上傳一個檔案'); //之後改為可多個檔案上傳
                    }else{
                        let testName = files[0].name;
                        if(testName.indexOf('.pdf') != -1){
                            self.pushList(files);
                        }else{
                            alert('請上傳pdf檔案!');
                        }
                    }

                },
                pushList(files){
                    let today = new Date();
                    let uploadTime = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}，${today.getHours()}:${ (today.getMinutes()<10)? `0${today.getMinutes()}`:today.getMinutes() }`;
                    // console.log(`${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}, ${today.getHours()}:${today.getMinutes()}`);
                    let self = this;
                    for(let i=0; i<files.length; i++){
                        let file = files[i];
                        // console.log(`file[${i}]----`,file)

                        this.toBase64(file).then(function(base64){
                            // console.log(base64)
                            let obj = {};
                            obj.name = file.name;
                            obj.uploadtime = uploadTime;
                            obj.opentime = '---';
                            obj.base64 = base64;
                            self.files.push(obj);

                        });
                    }
                    // console.log('this.files------',self.files);

                    setTimeout(() => {
                        localStorage.setItem('files', JSON.stringify(self.files));
                        // console.log('localStorage---',localStorage.getItem('files'))
                        self.tab = 2;
                    }, 1000);
                },
                async toBase64(file, success=true){
                    return new Promise((resolve, reject) => { // 傳入 resolve 與 reject，表示資料成功與失敗
                        if (success) {
                            let reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = function () { // base64格式PDF
                                resolve(reader.result);
                            };
                            reader.onerror = function (error) {
                                console.log('Error: ', error);
                            };
                        } else {
                            reject(`toBase64失敗`)
                        }
                    })
                },
                mousedownImg($event){
                    // this.status = '按著';
                    console.log('按著')
                    // document.getElementById('signCanvas').addEventListener('mousemove', this.mousemoveSign, false);
                },
                mouseupImg($event){
                    console.log('放開')
                    // this.status = '放開';
                },
                clickImg(){
                    if(this.status == '放開'){
                        this.status = '按著'
                    }else{
                        this.status = '放開'
                    }
                },
                mouseupFile(event){
                    let ele = document.getElementById('canvasFile0');
                    let ctx = ele.getContext('2d'); 

                    let rect = document.getElementById('canvasFile0').getBoundingClientRect();
                    let x = event.clientX - rect.left;
                    let y = event.clientY - rect.top;


                    // let img = new Image();
                    // img.src = this.signArr[0];
                    // img.width = 100;
                    // img.onload=function(){
                    //     ctx.drawImage(img,x,y,150,57.7);
                    // }

                },
                mousemoveFile(event){
                    let rect = document.getElementById('canvasFile0').getBoundingClientRect();
                    let x = event.clientX - rect.left;
                    let y = event.clientY - rect.top;
                    console.log(`x,y----${x},${y}`);
                    if(this.status == "按著"){
                        this.imgLeft = `${x}px`;
                        this.imgTop = `${y}px`;
                    }

                    // return {
                    //     x: event.clientX - rect.left,
                    //     y: event.clientY - rect.top
                    // }; 
                },
                getMousePos(event) {
                    // console.log('getMousePosEvent---',event)

                    let rect = this.$refs.signCanvas.getBoundingClientRect();
                    // console.log('完整座標資訊rect---',rect)
                    // console.log('完整座標資訊rect.left---',rect.left)
                    // console.log('完整座標資訊rect.top---',rect.top)
                    // console.log('event.clientX',event.clientX)
                    // console.log('event.clientY',event.clientY)
                    // console.log('x-------',event.clientX - rect.left)
                    // console.log('y-------',event.clientY - rect.top)
                    // getBoundingClientRect 取得物件完整座標資訊，包含寬高等

                    return {
                        x: event.clientX - rect.left,
                        y: event.clientY - rect.top
                    };   
                    // //這個function將會傳回滑鼠在canvas上的座標
                },
                mousedownSign(event){
                    event.preventDefault();

                    this.signCanvas = this.$refs.signCanvas;
                    this.signCanvasGetContext = this.signCanvas.getContext('2d'); 
                    this.signCanvasGetContext.strokeStyle = this.signColor ;
                    this.signCanvasGetContext.lineWidth = 10;

                    this.signCanvasGetContext.beginPath();
                    let mousePos = this.getMousePos(event);
                    this.signCanvasGetContext.moveTo(mousePos.x, mousePos.y);  

                    document.getElementById('signCanvas').addEventListener('mousemove', this.mousemoveSign, false);

                },
                mouseupSign(event){
                    document.getElementById('signCanvas').removeEventListener('mousemove', this.mousemoveSign, false);
                },
                mousemoveSign(event){
                    let mousePos = this.getMousePos(event);
                    this.signCanvasGetContext.lineTo(mousePos.x, mousePos.y);
                    // console.log(`x,y----${mousePos.x}, ${mousePos.y}`)
                    this.signCanvasGetContext.stroke();
                },
                clearSign(){
                    this.signCanvasGetContext.clearRect(0, 0, this.$refs.signCanvas.width, this.$refs.signCanvas.height);
                },
                cancelSign(){
                    this.popSign = false;
                    this.clearSign();
                },
                saveSign(){
                    let signImgSrc = this.signCanvas.toDataURL();
                    let storageSign = localStorage.getItem('sign');
                    this.signArr.push(signImgSrc);

                    console.log(this.signArr);

                    if(storageSign == null){
                        localStorage.setItem('sign', JSON.stringify([signImgSrc]));
                        console.log('A')
                    }else{
                        console.log('B')
                        localStorage.setItem('sign', JSON.stringify(this.signArr));
                    }
                    this.popSign = false;
                    this.clearSign();
                    this.aside = 'display';
                },
                deleteSign(index){
                    if(this.chooseImg[0] == index){
                        this.chooseImg = [];
                        this.showBox = false;
                        this.imgLeft = '95px';
                        this.imgTop = '48.5px';
                    }
                    this.signArr.splice(index, 1);
                    localStorage.setItem('sign', JSON.stringify(this.signArr));
                },
                deleteCanvasSign(){
                    this.showBox = false;
                    this.status = '放開';
                    this.imgLeft = '95px';
                    this.imgTop = '48.5px';
                },
                createFile(){
                    let self = this;
                    let ele = document.getElementById('canvasFile0');
                    let ctx = ele.getContext('2d'); 
                    let img = new Image();
                    img.src = this.chooseImg[1];
                    // console.log(parseInt(self.imgLeft))
                    // console.log(parseInt(self.imgTop))
                    img.onload = function(){
                        ctx.drawImage(img, parseInt(self.imgLeft)-75, parseInt(self.imgTop)-28.85, 150, 57.7);
                    }

                    setTimeout(function(){
                        let src = ele.toDataURL("image/png");
                        self.createImgSrc = src;
                        self.btn2 = "下載文件";
                        self.page = 3;

                    },3000)
                },
                downloadFile(){
                    let self = this;
                    // 引入套件所提供的物件
                    const pdf = new jsPDF();

                    // 設定背景在 PDF 中的位置及大小
                    const width = pdf.internal.pageSize.width;
                    const height = pdf.internal.pageSize.height;
                    pdf.addImage(self.createImgSrc, "png", 0, 0, width, height);

                    // 將檔案取名並下載
                    pdf.save("download.pdf");
                },
                resizeEvent(){
                    let width = document.body.clientWidth;
                    this.windowWidth = width;
                    if(width >= 1200){
                        this.canvasSignWidth = 780;
                        this.canvasSignHeight = 300;
                    }else if(width < 1200 && width >= 992){
                        this.canvasSignWidth = 780/780*700;
                        this.canvasSignHeight = 300/780*700;
                    }else if(width < 991 && width >= 768){
                        this.canvasSignWidth = 780/780*650;
                        this.canvasSignHeight = 300/780*650;
                    }else if(width < 767 && width >= 576){
                        this.canvasSignWidth = 780/780*480;
                        this.canvasSignHeight = 300/780*480;
                    }else if(width < 575){
                        this.canvasSignWidth = 780/780*350;
                        this.canvasSignHeight = 300/780*350;
                    }
                }
            },
            watch:{
                popSign:{
                    handler(bool, old){
                        if(bool == true){
                            this.aside = "hidden";
                        }
                    }
                }
            },
            mounted(){
                let self = this;
                // console.log(this.files)
                // console.log(localStorage.getItem('files'))
                let storageFiles = localStorage.getItem('files');
                let storageSign = localStorage.getItem('sign');
                if(storageFiles != null){
                    this.files = JSON.parse(storageFiles);
                }
                if(storageSign != null){
                    this.signArr = JSON.parse(storageSign);
                }

                // this.choosefile(1);

                // console.log('chooseImg----',this.chooseImg)

                // console.log(this.files == false)
                // let today = new Date();
                // console.log(`${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}, ${today.getHours()}:${ (today.getMinutes()<10)? `0${today.getMinutes()}`:today.getMinutes() }`);
                this.resizeEvent();
                window.addEventListener("resize",function(){
                    self.resizeEvent();
                })


            },
        })
        mainApp.mount('#mainApp');

        // -----------------------------------------------------
        // const footerApp = Vue.createApp({
        //     data(){
        //         return{ 
        //             name: '123',
                
        //         }
        //     },
        //     methods:{
                
        //     },
        //     mounted(){
                
        //     },
        // })
        // footerApp.mount('#footerApp');

    </script>
</body>
</html>

<!-- <div class="pop-bg">
    <div class="pop-content">
        <div class="pop-main"></div>
        <div class="pop-bottom">
            <div class="left"></div>
            <div class="right">
                <div class="main-btn main-btn-light"></div>
                <div class="main-btn main-btn-dark"></div>
            </div>
        </div>
    </div>
</div> -->