<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F2E - 點點簽 - 簽署新文件</title>
    <link rel="stylesheet" href="./css/main.css"> 
    <link rel="stylesheet" href="./css/signing.css"> 
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">  -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet"> -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src='./js/main.js' ></script>

</head>
<body>
    <header id="headerApp">
        <div class="header">
            <div class="left">
                <div class="logo" @click="open('./index.html')">
                    <img src="./img/logo_s.png">
                </div>
                <div v-if="title != ''" class="title">{{ title }}</div>
            </div>
            <ul class="menu">
                <li v-for="(item, i) in menu" :class="{'disable': item[1] == 'disable'}" @click="open(item[2])">{{ item[0] }}</li>
            </ul>
        </div>
    </header>

    <main id="mainApp">
        <div class="main hasfooter">
            <div class="block">
                <div class="tab tab-left" :class="{'active':tab == 1}" @click="tab = 1">上傳新文件</div>
                <div class="tab tab-right" :class="{'active':tab == 2}" @click="tab = 2">選擇已上傳文件</div>
                <div v-if="tab == 1" class="upload" @dragover.stop.prevent="dragoverFile($event)" @drop.stop.prevent="dropFile($event)">
                    <div class="drop-zone">
                        <span class="text">點擊此處上傳 或 直接拖曳檔案</span>
                        <img src="./img/icon_document_pdf.png" class="icon-pdf">
                        <span class="text">(限10MB以下PDF檔)</span>
                    </div>
                </div>
                <div v-if="tab == 2 && files == false" class="no-file">尚未上傳任何文件!</div>
                <div v-if="tab == 2 && files != false" class="files">
                    <div class="search">
                        <input type="search" name="search" placeholder="搜尋文件名稱">
                        <img src="./img/icon_search.svg" class="icon-search">
                    </div>
                    <div class="text text-name">名稱</div>
                    <div class="text text-upload-time">上傳時間</div>
                    <div class="text text-open-time">上次開啟</div>
                    <div class="row" v-for="(file,i) in files" :class="{'active': i+1 == fileIndex}" @click="choosefile(i+1)">
                        <div class="info name">{{file.name}}</div>
                        <div class="info upload-time">{{file.uploadtime}}</div>
                        <div class="info open-time">{{file.opentime}}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footerApp">

    </footer>

    <script>
        // -----------------------------------------------------
        const mainApp = Vue.createApp({
            data(){
                return{ 
                    tab: 1,
                    fileIndex: '',
                    files: [],
                    // files:[['.19898989898989899898989823.pdf','2022/10/31，23:45','---'],['.456.pdf','2022/10/31，23:45','2022/10/31，23:55']]
                }
            },
            methods:{
                choosefile(index){
                    this.fileIndex = index;
                },
                dragoverFile(e){
                    // console.log('dragoverFile-------',e);
                },
                dropFile(e){
                    let self = this;
                    // console.log('dropFile------',e);
                    let today = new Date();
                    let uploadTime = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}，${today.getHours()}:${ (today.getMinutes()<10)? `0${today.getMinutes()}`:today.getMinutes() }`;
                    // console.log(`${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}, ${today.getHours()}:${today.getMinutes()}`);
                    let files = e.dataTransfer.files; //由DataTransfer物件的files屬性取得檔案物件
                    // console.log('e.dataTransfer.files------',files);
                    
                    for(let i=0; i<files.length; i++){
                        let file = files[i];
                        let obj = {};
                        obj.name = file.name;
                        obj.base64 = "this.toBase64(file)";
                        obj.uploadtime = uploadTime;
                        obj.opentime = '---';
                        self.files.push(obj);
                    }
                    console.log('this.files------',this.files);
                    localStorage.setItem('files', JSON.stringify(this.files));


                },
                toBase64(file){
                    let result;
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () { // base64格式PDF
                        return reader.result;
                    };
                    reader.onerror = function (error) {
                        console.log('Error: ', error);
                    };
                }
            },
            mounted(){
                // console.log(this.files)
                // console.log(localStorage.getItem('files'))
                let storageFiles = localStorage.getItem('files');
                if(storageFiles != null){
                    this.files = JSON.parse(storageFiles);
                }
                
                // console.log(this.files == false)
                // let today = new Date();
                // console.log(`${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}, ${today.getHours()}:${ (today.getMinutes()<10)? `0${today.getMinutes()}`:today.getMinutes() }`);
            },
        })
        mainApp.mount('#mainApp');

        // -----------------------------------------------------
        const footerApp = Vue.createApp({
            data(){
                return{ 
                    name: '123',
                
                }
            },
            methods:{
                
            },
            mounted(){
                
            },
        })
        footerApp.mount('#footerApp');

    </script>
</body>
</html>